@{
    ViewData["Title"] = "Sign Up";
}

<div>
    <h1>Sign Up result</h1>
    
    <ol style="margin-left: 150px;">
        <li>@ViewBag.firstName</li>
        <li>@ViewBag.lastName</li>
        <li>@ViewBag.birthDay</li>
        <li>@ViewBag.gender</li>
        <li>@ViewBag.email</li>
        <li>@ViewBag.password</li>
    </ol>
</div>