@inject ICalculateService calc

<h1>UsingInjection</h1>
<b>Rand Value First = @calc.GetValueOne()</b><br />
<b>Rand Value Second = @calc.GetValueTwo()</b></br>

<b>Add:</b>
<p>@calc.GetValueOne() + @calc.GetValueTwo() = @calc.Sum()</p>
<b>Sub:</b>
<p>@calc.GetValueOne() - @calc.GetValueTwo() = @calc.Sub()</p>
<b>Mul:</b>
<p>@calc.GetValueOne() * @calc.GetValueTwo() = @calc.Mul()</p>

@if (@calc.GetError() == false)
{
    <b>Div:</b>
    <p>@calc.GetValueOne() / @calc.GetValueTwo() = @calc.Div()</p>
}
else
{
    <b>Div:</b>
    <p>Can't divide by zero</p>
}
